.settings/language.settings.xml
toolchain/
out/
linux/
out-br/
.vscode/
.pydevproject
build/scripts/__pycache__/
u-boot/cot_peregrine/
build/targets/*/uboot-configs/boot_cmds
build/targets/*/uboot-configs/boot_cmds.img
build/platform_manifest.dts
build/uart*.log
build/fvp.log
aggregated_data.json
**/__pycache__/
**/*.pyc
*.launch
.cache/
compile_commands.json
