[submodule "uboot"]
	path = u-boot
	url = https://sgit.trust.informatik.tu-darmstadt.de:13196/sanctuary/peregrine/uboot.git
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://sgit.trust.informatik.tu-darmstadt.de:13196/sanctuary/peregrine/trusted-firmware-a.git
[submodule "peregrine"]
	path = peregrine
	url = https://sgit.trust.informatik.tu-darmstadt.de:13196/sanctuary/peregrine/peregrine-hypervisor.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
